* {
  box-sizing: border-box;
}

.header {
  display: flex;
  box-sizing: border-box;
  border: solid;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #448aff;
  color: white;
}

.logo {
  flex: 25%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
}

.inicio {
  padding-left: 8px;
  font-weight: 900;
}

.menu {
  flex: 50%;
}

.anchor {
  text-decoration: none;
  color: white;
  font-weight: 550;
}

.menu .separador {
  border-right: solid black;
  padding-right: 5px;
}

.vacio {
  flex: 25%;
}

.main-event {
  display: flex;
}

.event-tittle {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 39.6px;
  padding: 0px 100px 0px 100px;
}

.event-image {
  display: flex;
  flex-direction: column;
  border: none;
  flex: 70%;
}

.event-summary {
  flex-direction: column;
  display: flex;
  border: none;
  flex: 30%;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-around;
}

.date {
  display: flex;
  flex-direction: column;
}

.tag {
  padding: 4px 4px 4px 4px;
  border: none;
  background-color: #f19000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.tag:hover {
  background-color: #faa629;
}

.tag:active {
  background-color: #f19000;
}

.palabras-clave {
  padding: 4px 4px 4px 4px;
  border: none;
  box-shadow: none;
  background-color: #fff;
  color: rgb(136, 136, 136);
}

.palabras-clave:hover {
  background-color: #fff;
  color: #448aff;
}

.palabras-clave:active {
  color: #0a4fc2;
}

.titulo-del-evento {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 39.6px;
  padding: 0px 100px 0px 100px;
}

.otras-imagenes {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 39.6px;
  padding: 0px 100px 0px 100px;
}

.parrafo-del-evento {
  padding: 0px 100px 0px 50px;
}
